
body {
  font-family: "poppins", sans-serif;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 24px;
  gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  background-image: url("img/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 102px 24px 136px;
  gap: 12px;
}

.greet {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0;
  margin: 0;

  /* or 130% */

  /* Neutrals/N800 */

  color: #172b4d;
}

.para {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */
  padding: 0;
  margin: 0;

  /* Neutrals/N600 */

  color: #344563;
}

.connect {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  padding: 0;
  margin: 0;

  /* Primary/B300 */

  color: #7f8cff;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.cardworks {
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.client {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.role {
  display: flex;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.tag {
  display: flex;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;

  /* Primary/B50 */
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  /* identical to box height, or 133% */
  letter-spacing: 0.03em;

  /* Primary/B400 */
  color: #6070ff;
}

.button {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  box-sizing: border-box;

  /* Auto layout */
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* position: absolute; */
  width: 124px;
  height: 48px;
  left: 0;

  /* Primary/B400 */
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.seeproj {
  width: 100px;
  height: 24px;

  /* Button /Normal */
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */
  color: #396df2;
}

.getresume {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 138px;
  height: 24px;

  /* identical to box height, or 141% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */
  color: #396df2;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);

  /* Body / 1 - Bolder */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  color: #000;
}

.nbutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
}

.langlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.frame9 {
  display: flex;
  -ms-flex-align: center;
  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */
  background: #f7f7f9;
  border-radius: 8px;
  padding: 5;
  gap: 20px;
}

.langicon {
  display: flex;
  -ms-flex-align: center;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);

  /* Neutrals/N0 */

  border: 1px solid #fff;
}

.lang1 {
  font-style: normal;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
}

.separator {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;

  /* Neutrals/N40 */
}
